
<body>
    <!--<input type="checkbox" id="menu" name>-->
    <!-- SIDE-BAR -->
    <!--<app-sidebar></app-sidebar> -->

    <div>

        <!-- HEADER -->
        <!-- <app-header></app-header> -->

        <main style="margin-top:100px">
            <div class="cards">
                <div class="card-single">
                    <div>
                        <h2>00</h2>
                        <small>Montant Articles Vendus </small>
                    </div>
                    <div>
                        <span class="fa fa-shopping-cart"></span>
                    </div>
                </div>

                <div class="card-single">
                    <div>
                        <h2>+00</h2>
                        <small>Stock Articles Actifs</small>
                    </div>
                    <div>
                        <span class="fa fa-newspaper-o"></span>
                    </div>
                </div>
                <div class="card-single">
                    <div>
                        <h2>00</h2>
                        <small>Total Articles</small>
                    </div>
                    <div>
                        <span class="fa fa-outdent"></span>
                    </div>
                </div>
                <div class="card-single">
                    <div>
                        <h2>00</h2>
                        <small>Quantity Articles Vendus</small>
                    </div>
                    <div>
                        <span class="fa fa-group"></span>
                    </div>
                </div>
            </div>

            <div class="composant">
                <div class="ventes">
                    <div class="case">
                        <div class="header-case">
                            <h2>Listes Des Ventes</h2>

                        </div>



                        

                        <div class="body-case">
                            <div class="tableau">
                                <table datatable [dtOptions]="dtOptions" [dtTrigger]="dttrigger"   class="row-border hover">
                                    <thead>
                                        <tr>
                                            <td>DATE ANNULATION</td>
                                            <td>DATE VENTE</td>
                                            <td>Etat</td>
                                            <td>Utilisateur</td>
                                            <td>Action</td>

                                        </tr>
                                    </thead>
                                    <tbody>
                                       @for (venteItem of venteList; track venteItem) {
                                            <tr>

                                                <td> {{venteItem.date_annulation}} </td>
                                                <td> {{venteItem.date_vente}} </td>
                                                <td> {{venteItem.etat_vente}} </td>
                                                <td> {{venteItem.id_USER}} </td>

                                                <td>
                                                    <button  type="button" class="btn btn-danger">
                                                        <i class="bi bi-eye"></i>
                                                    </button>
                                                    <button  class="button" data-bs-toggle="modal" data-bs-target="#myModal" type="button" class="btn btn-primary">
                                                        <i class="bi bi-pencil"></i>
                                                    </button>
                                                    <button  type="button" class="btn btn-danger">
                                                        <i class="bi bi-trash"></i>
                                                    </button>

                                                </td>
                                            </tr>
                                        }

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="stock">
                    <div class="case">
                        <div class="header-case bg-blue-100">
                            <h2>Clients Fidèles</h2>
                            <!-- <p-calendar /> -->
                        </div>
                        <div class="body-case">
                            <div class="all-users">
                                <div class="infos">
                                    <img src width="30"
                                        height="30">
                                    <div>
                                        <h4>Omar</h4>
                                        <small>Embulant</small>
                                    </div>
                                </div>

                                <div class="user-contact">
                                    <span class="fa fa-facebook"></span>
                                    <span class="fa fa-whatsapp"></span>
                                    <span class="fa fa-phone"></span>
                                </div>
                            </div>

                            <div class="all-users">
                                <div class="infos">
                                    <img src width="30"
                                        height="30">
                                    <div>
                                        <h4>Omar</h4>
                                        <small>Embulant</small>
                                    </div>
                                </div>

                                <div class="user-contact">
                                    <span class="fa fa-facebook"></span>
                                    <span class="fa fa-whatsapp"></span>
                                    <span class="fa fa-phone"></span>
                                </div>
                            </div>

                            <div class="all-users">
                                <div class="infos">
                                    <img src width="30"
                                        height="30">
                                    <div>
                                        <h4>Omar</h4>
                                        <small>Embulant</small>
                                    </div>
                                </div>

                                <div class="user-contact">
                                    <span class="fa fa-facebook"></span>
                                    <span class="fa fa-whatsapp"></span>
                                    <span class="fa fa-phone"></span>
                                </div>
                            </div>

                            <div class="all-users">
                                <div class="infos">
                                    <img src width="30"
                                        height="30">
                                    <div>
                                        <h4>Omar</h4>
                                        <small>Embulant</small>
                                    </div>
                                </div>

                                <div class="user-contact">
                                    <span class="fa fa-facebook"></span>
                                    <span class="fa fa-whatsapp"></span>
                                    <span class="fa fa-phone"></span>
                                </div>
                            </div>
                        </div>
                        <button class="btn">voir plus<span
                                class="fa fa-arrow-right"></span></button>
                    </div>
                </div>

            </div>
        </main>
    </div>
</body>

